<!doctype html>
<html>
  <head>
    <title>Chat Socket.IO Cenfotec</title>
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px;}
      form button { width: 10%; background: rgb(130, 224, 255);  border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
      #messages { margin-bottom: 40px }
      #nombre, #m { display: inline-block;}
      #m {width: 69%; margin-right: 4px;}
      #nombre {width: 20%}
      #logOut {
     line-height: 12px;
          width: 60px;
          font-size: 8pt;
          font-family: tahoma;
          margin-top: 1px;
          margin-right: 2px;
          position:absolute;
          top:0;
          right:0;
      }
    </style>
  </head>
  <body>
    <a href="/logout"><button id= logOut>Log Out</button></a>
    <ul id="messages"></ul>
    <form action="">
      <input id="nombre" autocomplete="off" placeholder="Username" value="{{user.given_name}}"/>
      <input id="m" autocomplete="off" placeholder="Escriba un mensaje" /><button>Send</button>
    </form>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>

    var colorHexTxt = "";

    // genera colores aleatorios en hexadeximal
    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
          color += letters[Math.floor(Math.random() * 16)];
        }

        return color;
     }

      $(function () {
        var socket = io();

        // emite evento al servidor
        $('form').submit(function(){

          // captura de nombre y mensaje
          var nombreTxt = $('#nombre').val() || "Anomimo";
          var mensajeTxt = $('#m').val();

          if (colorHexTxt == "")
          {
            colorHexTxt = getRandomColor();
          }

          // composicion del mensaje en formato JSON para enviar
          // al server NODE
          var jsonMsg = { nombre:nombreTxt, mensaje: mensajeTxt, color: colorHexTxt};

          // pequena validacion de no enviar nada al server vacio
          if (nombreTxt.trim() != undefined && nombreTxt.trim() != ""){
            socket.emit('Evento-Mensaje-Server', JSON.stringify(jsonMsg));
            $('#m').val('');
          }

          return false;
        });

        // Escucha el server
        socket.on('Evento-Mensaje-Server', function(msg){

          // recibimos mensaje como un objeto JSON
          var msgJson =  JSON.parse(msg);

          // lo ponemos en un formato
          var mensajeDisplay = "<b style='color:"+ msgJson.color +"'>" + msgJson.nombre + "</b>: " + msgJson.mensaje;

          // imprimimos el mensaje en pantalla
          $('#messages').append($('<li>').html(mensajeDisplay));
          window.scrollTo(0, document.body.scrollHeight);
        });

      });
    </script>
  </body>
</html>
